p {
  font-family: "Mist-Regular", Arial;
  color: #555;
  font-size: 12px;
  text-align: center;
}
h2 {
  font-family: "Mist-Regular" !important;
  font-size: 18px !important;
  color: #777 !important;
  text-align: center;
}
h4 {
  padding-top: 10px;
}
h6 {
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: o;
    padding: 0;
    overflow: hidden;
}

li {
  font-family: "Mist-Regular";
  letter-spacing: px;
  text-transform: ;
  font-size: 14px;
  float: left;
  text-decoration: none !important;
}

li a {
    text-align: center;
    color: #555;
}

li a:hover {
    color: #feae1b;
    text-decoration: none;
}

.title {
  color: #555;
  padding-bottom: 10px;
  /*border-bottom: 1px dashed #ddd;*/
	margin-bottom: 20px;
  font-family: "Julianne", Arial;
  font-size: 120px;
  text-align: center;
}

.gallary {
  font-family: "Mist-Regular", Arial;
  color: #feae1b;
  font-size: 12px;
}
.purple {
  color: #7b72e9;
}
.purple2 {
  background-color: #7b72e9;
  width: 200px;
  height: 100px;
}
.red {
  color: #ff4351;
}
.red2 {
  background-color: #ff4351;
  width:200px;
  height: 100px;
}
.blue {
  color: #1b9af7;
}
.blue2 {
  background-color: #1b9af7;
  width: 200px;
  height: 100px;
}
.green {
  color: #a5de37;
}
.green2 {
  background-color: #a5de37;
  width: 200px;
  height: 100px;
}
.orange {
  color: #feae1b;
}
.orange2 {
  background-color: #feae1b;
  width: 200px;
  height: 100px;
}
.swatch {
  width: 80px;
  padding-bottom: 20px;
}
.swatch-two{
  width: 80px;
  box-shadow: 0px 5px 10px 4px #ccc;
  border-radius: 50%;
}
.square-thumb {
  width: 150px;
  height: 150px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #eee;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*#color_side_links {
	position: fixed;
  top: 300px;
  left: 120px;
  padding: 0;
  list-style: none;
  z-index: 99;
} */

#projects {
    margin-bottom: 50px;
}

#filters {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    text-align: center;
}

#filters > li {
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
}

#filters > li:before {
    position: absolute;
    top: 15px;
    left: -5px;
    font-size: 10px;
    line-height: 18px;
    color: #666;
}

#filters > li:first-child:before {
    content: none;
}

#filters > li.active {
    color: #333;
}
.shadow {
  box-shadow: 0px 5px 10px 4px #aaa;
  width: 300px
}
.shadow-two {
  box-shadow: 0px 5px 10px 4px #ccc;
}
